<!-- app/views/shopping_lists/index.html.erb -->
<h1>Shopping List</h1>

<div class="product-form" id="product-form">
  <%= render(ProductFormComponent.new) %>
</div>

<div style="text-align: right; margin-bottom: 10px;">
  <%= button_to "Add Product", "#", class: "btn btn-primary", id: "show-product-form-button", remote: true %>
</div>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if @earliest_date.present? %>
  <%= render(ProductGroupComponent.new(date: @earliest_date, products: @earliest_products)) %>
<% else %>
  <p>No products available.</p>
<% end %>

<% sorted_other_product_groups = @other_product_groups.sort_by { |date, _| date } %>
<% sorted_other_product_groups.each do |date, products| %>
  <% if date.present? %>
    <%= render(ProductGroupComponent.new(date: date, products: products)) %>
  <% else %>
    <% products.each do |product| %>
      <% unless product.purchased %>
        <%= render(ProductCardComponent.new(product: { product: product })) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag 'shopping_list' %>
